@using OnlineAuction.Dependencies
@using OnlineAuction.Entities

@{

    var lotLogic = DependencyResolver.LotLogic;
    Lot newLot = new Lot();

    List<string> bookGenre = newLot.BookGenre;

    string genre = "";

    Layout = "~/Pages/Layout/BasicLayout.cshtml";

    User newUser = new User();

    var userLogic = DependencyResolver.UserLogic;

    List<Lot> allLots = new List<Lot>();

    int userID = 0;

    if (User.Identity.IsAuthenticated)
    {
        userID = int.Parse(User.Identity.Name);
    }

    if (userID != 0)
    {
        newUser = userLogic.GetUserById(userID);

        allLots = lotLogic.GetNoUserLotForSellByID(userID).ToList();
    }
    


    if (newUser == null || userID == 0)
    {
        Response.Redirect("~/Pages/ErrorPage.cshtml?ID=" + userID);
    }

}

@RenderPage("Partial/Partial.cshtml", userID)

<form method="post">
    <div class="collapse" id="allLots">
        <select class="custom-select" name="SelectedLot">
            <option selected value="null">Выберите интересующую книгу</option>
            @foreach (var lot in allLots)
            {
                <option value="@lot.Id">
                    Название: @lot.Name Цена: @lot.Price Автор: @lot.Author Жанр: @lot.Genre Продавец: @lot.Seller.Name @lot.Seller.SurName @lot.Seller.PhoneNumber
                    @lot.Seller.DateOfBirth.ToShortDateString() Описание: @lot.Description
                </option>
            }
        </select>

        <button class="btn btn-light col-sm-3" name="BuyLot">
            Купить
        </button>
    </div>

    @{ if (IsPost)
        {
            if (Request.Form["LotsBTN"] != null)
            {
                genre = Request.Form["LotGenre"];
                if (genre != "null" && genre != null)

                {
                    <div>@RenderPage("Partial/PartialSearch.cshtml", genre, userID)</div>

                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Выберите жанр!
                    </div>
                }
            }
            if (Request.Form["BuyLot"] != null)
            {
                if (Request["SelectedLot"] != null && Request["SelectedLot"] != "null")
                {
                    int lotID = int.Parse(Request["SelectedLot"]);
                    lotLogic.BuyLot(userID, lotID);
                    <div class="alert alert-info" role="alert">
                        Покупка лота прошла успешно!
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Покупка не удалась, повторите попытку!
                    </div>
                }

            }
        }
    }

    <br />
    <button class="btn btn-light col-sm-3" type="button" data-toggle="collapse"
            data-target="#allLots" aria-expanded="false"
            aria-controls="Table">
        Все книги
    </button>

    <select class="custom-select" name="LotGenre">
        <option selected value="null">Nothing</option>
        @foreach (string bookgenre in bookGenre)
        {
            <option value="@bookgenre">@bookgenre</option>
        }
    </select>

    <button class="btn btn-light col-sm-3" type="submit" name="LotsBTN">
        Поиск по жанру
    </button>

</form>



