@using OnlineAuction.Dependencies
@using OnlineAuction.Entities

@{

    var lotLogic = DependencyResolver.LotLogic;
    Lot newLot = new Lot();

    List<string> bookGenre = newLot.BookGenre;

    Layout = "~/Pages/Layout/BasicLayout.cshtml";

    var userID = 0;

    if (User.Identity.IsAuthenticated)
    {
        userID = int.Parse(User.Identity.Name);
    }

    var userLogic = DependencyResolver.UserLogic;

    List<Lot> allLots = new List<Lot>();

    allLots = lotLogic.GetNoUserLotForSellByID(0).ToList();

    if (userID != 0)
    {
        Response.Redirect("~/Pages/ErrorPage.cshtml?ID=");
    }

    if (IsPost)
    {
        if (Request.Form["DeleteLot"] != null)
        {
            if (Request["SelectedLot"] != null && Request["SelectedLot"] != "null")
            {
                int lotID = int.Parse(Request["SelectedLot"]);
                lotLogic.DeleteLot(lotID);

                <div class="alert alert-info" role="alert">
                    Удаление прошло успешно!
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Удаление не удалось, повторите попытку!
                </div>
            }

        }
    }
}


@RenderPage("~/Pages/Partial/PartialAdmin.cshtml");

<form method="post">
    <select class="custom-select" name="SelectedLot">
        <option selected value="null">Выберите интересующую книгу</option>
        @foreach (var lot in allLots)
        {
            if (lot.Customer == null)
            {
                <option value="@lot.Id">
                    Название: @lot.Name Цена: @lot.Price Автор: @lot.Author Жанр: @lot.Genre
                    Продавец: @lot.Seller.Name @lot.Seller.SurName @lot.Seller.PhoneNumber
                    @lot.Seller.DateOfBirth.ToShortDateString()  @lot.Seller.Email Описание: @lot.Description
                    Покупателя нет
                </option>
            }
        }
    </select>

    <button class="btn btn-light col-sm-3" name="DeleteLot">
        Удалить
    </button>

</form>
